.card {
  position: relative;
  margin: 20px;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card__image {
  z-index: 5;
  width: 340px;
  min-height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
.card__background {
  position: absolute;
  z-index: 10;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
}
.card__text {
  position: absolute;
  bottom: 0;
  z-index: 15;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  color: #ffffff;
}

@media screen and (max-width: 1050px) {
  .card {
    margin: 10px 0 10px 0;
    height: 255px;
  }
  .card__image {
    min-height: 255px;
  }
  .card__background {
    height: 255px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .card__image {
    width: 100%;
  }
  .card__background {
    width: 100%;
  }
}
