.profil {
  margin: 20px 0 20px 0;
  max-width: 150px;
  display: flex;
  align-items: center;
}
.profil__name {
  margin: 10px;
  display: flex;
  text-align: right;
}
.profil__image {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

@media screen and (max-width: 768px) {
  .profil {
    margin: 0;
  }
}
